@layer components {
  img[loading="lazy"] {
    opacity: 1;
  }

  nav[aria-label="Main navigation"]>#user-actions>#user-actions-menu[hidden] {
    display: flex;
    position: static;
  }

  @media (max-width: 985px) {
    nav[aria-label="Main navigation"]>#top-links {
      opacity: 1;
      pointer-events: auto;
      position: static;
      transform: none;
      visibility: visible;
      width: auto;
    }

    nav[aria-label="Main navigation"]>#mobile-menu-toggle {
      display: none;
    }

    nav[aria-label="Main navigation"]>#user-actions>#user-actions-toggle,
    nav[aria-label="Main navigation"]>#user-actions>#user-actions-menu,
    nav[aria-label="Main navigation"]>#user-actions>a[href="/register"] {
      display: revert;
    }
  }
}
