@layer components {
  img[loading="lazy"] {
    opacity: 1;
  }

  @media (min-width: 1025px) {
    #user-actions-menu[hidden] {
      display: flex;
      position: static;
    }
  }

  #popular-carousel > button,
  #member-carousel > button {
    display: none;
  }

  @media (max-width: 1024px) {
    nav[aria-label="Main navigation"]>#top-links {
      left: 0;
      max-height: none;
      opacity: 1;
      overflow-y: visible;
      pointer-events: auto;
      position: static;
      top: auto;
      transform: none;
      transition: none;
      visibility: visible;
      width: 100%;
      z-index: auto;
    }

    nav[aria-label="Main navigation"]>#mobile-menu-toggle {
      display: none;
    }
  }
}
